.contact {
  padding: 20px;
}

.contact form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.contact label {
  margin-bottom: 5px;
}

.contact input, .contact textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.contact input[type="submit"]:hover {
  background-color: #388e3c;
}