.header {
  background-color: var(--light-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.social-links {
  display: flex;
}

.social-links a {
  margin-left: 10px;
  color: var(--secondary-color);
  text-decoration: none;
}