:root {
  --primary-color: #43a047; /* A slightly darker and more saturated green */
  --secondary-color: #6c757d; /* A softer gray */
  --accent-color: #00acc1; /* A more vibrant teal */
  --light-color: #f0fff0; /* A very light green */
  --text-color: #495057; /* A slightly lighter dark gray */

  --green-light: #c8e6c9; /* A very light, pastel green */
  --green-dark: #1b5e20; /* A dark, forest green */
  --gray-light: #eceff1; /* An even lighter gray */

  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

h1, h2, h3 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  background-color: var(--light-color);
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

footer {
  background-color: var(--secondary-color);
  color: var(--light-color);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}